name: RDP 10 JAM (BETA)

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Downloading NGROK Njing.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/vpssssbeduool/Iwassdieefreerdp/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/vpssssbeduool/Iwassdieefreerdp/main/wallpaper.png -OutFile wallpaper.bmp
        Invoke-WebRequest https://raw.githubusercontent.com/vpssssbeduool/Iwassdieefreerdp/main/wallpaper.bat -OutFile wallpaper.bat
    - name: Mengextract Ngrok File.
      run: Expand-Archive ngrok.zip
    - name: Connect To NGROK Njing...
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Activated Your Rdp Bangsat...
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy wallpaper.bmp D:\a\wallpaper.bmp
        copy wallpaper.bat D:\a\wallpaper.bat
    - name: Creating Tunnel Ngentot...
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp 3389"'
    - name: Nyoh Connect Rdp Lu
      run: cmd /c start.bat
    - name: Dah Konek Sana tot
      run: | 
        Invoke-WebRequest https://github.com/bangjackcreator/MBAHGADGETNEW/raw/main/loop.ps1 -OutFile loop.ps1
        ./loop.ps1
